* {
font-family: "SF Pro Display", "JetBrainsMono Nerd Font";
font-size: 13px;
border: none;
}

/* BAR */

window#waybar {
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(20px);

    border-radius: 14px;

    margin: 6px 10px;
}

/* MODULES */

#workspaces button {
padding: 0 8px;
border-radius: 10px;
color: #ccc;
}

#workspaces button.active {
background: rgba(255,255,255,0.2);
color: white;
}

/* CENTER CLOCK */

#clock {
font-weight: 600;
color: white;
}

/* RIGHT SIDE */

#pulseaudio,
#network,
#battery {
padding: 0 10px;
color: #ddd;
}

/* HOVER */

#pulseaudio:hover,
#network:hover,
#battery:hover {
background: rgba(255,255,255,0.15);
border-radius: 10px;
}
