/* Import your color file first */
@import "colors.css";

/* Base styles */
* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: none;
}

/* Pills */
#custom-arch,
#workspaces,
#cpu,
#memory,
#clock,
#mpris,
#pulseaudio,
#tray,
#custom-swaync {
background: rgba(26, 27, 38, 0.65);
padding: 0 8px;
margin: 4px 3px;
border-radius: 12px;
}

/* Workspaces */
#workspaces button {
padding: 0 6px;
margin: 2px;
border-radius: 8px;
}

#workspaces button.active {
background: rgba(122, 162, 247, 0.2);
}

/* Hover */
#cpu:hover, #memory:hover, #clock:hover, #mpris:hover,
#pulseaudio:hover, #custom-swaync:hover {
background: rgba(255, 255, 255, 0.1);
}
