* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

/* base */
window#waybar {
    background: rgba(10,10,20,0.5);
    border-radius: 14px;
}

/* CPU STATES */
#cpu {
    padding: 0 10px;
    color: #a6e3a1;
}

#cpu.warning {
    color: #f9e2af;
}

#cpu.critical {
    color: #f38ba8;
}

/* BATTERY STATES */
#battery {
    padding: 0 10px;
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
}

/* NETWORK */
#network.disconnected {
    color: #f38ba8;
}

/* pulseaudio */
#pulseaudio.muted {
    color: #6c7086;
}
